{% extends "rank/base.html" %}
{% load static %}

{% block title %}
    搜索结果
{% endblock %}

{% block content %}
    <div>
        <table class="cart">
            <thead>
                <h2>您是不是想找</h2>
            </thead>
            <tbody>
                <tr>
                    <th>菜名</th>
                    <th>食堂</th>
                    <th>价格<th>
                    <th>余量</th>
                </tr>
                {% for c in post_list %}
                    <tr>
                        <td><a href="{{ c.get_absolute_url }}">{{ c.name }}</a><td>
                        <td>{{ c.restaurant.name }}</td>
                        <td>{{ c.price }}</td>
                        <td>{{ c.stock }}<td>
                        <td><a href="{% url "rank:product_detail" id=c.id slug=c.slug %}">去看看</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
