{% extends "rank/base.html" %}
{% block title %}
结算
{% endblock %}
{% block content %}
    <h1>结算</h1>
    <div class="order-info">
        <h3>您的订单</h3>
        <ul>
            {% for item in cart %}
            <li>
                 {{ item.product.name }} x {{ item.quantity }}
                <span>￥{{ item.total_price }}</span>
            </li>
            {% endfor %}
        </ul>
    <p>总价：￥{{ cart.get_total_price }}</p>
</div>
<form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="结算"></p>
    {% csrf_token %}
</form>
{% endblock %}
